<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Information</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Gabriel Pakulski da Silva</h1>  
        <h2>+55 51 999 577 691</h2>  
        <h2>gabrielpakulski@hotmail.com</h2>  
    </main>
	<script src="index.js"></script>
  </body>
</html>
